html, body, .container {
  height: 100%;
  display: flex;
}
.container {

  width: 100%;
  height: 100%;
  display: table;
  text-align: center;
}

.container > .register_form {
  width: 30%;
  height: 65%;
  background-color: gainsboro;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: absolute;
  border-radius: 8px;
  top: 25%;
  left: 0;
  right: 0;

}


#firstName{
  position: absolute;
  text-align: center;
  left: 25%;
  top: 25%;
  bottom: 47.76%;
  font-style: normal;
  font-weight: normal;
  line-height: 5px;
  border-radius: 8px;
  width: 50%;
  height: 8%;
}

#lastName{
  position: absolute;
  text-align: center;
  left: 25%;
  top: 40%;
  bottom: 50.76%;
  font-style: normal;
  font-weight: normal;
  line-height: 5px;
  border-radius: 8px;
  width: 50%;
  height: 8%;
}

#username {

  position: absolute;
  text-align: center;
  left: 25%;
  top: 55%;
  bottom: 47.76%;
  font-style: normal;
  font-weight: normal;
  line-height: 5px;
  border-radius: 8px;
  width: 50%;
  height: 8%;
}

#password{
  position: absolute;
  text-align: center;
  left: 25%;
  top: 70%;
  bottom: 20.29%;
  font-style: normal;
  font-weight: normal;
  line-height: 5px;
  border-radius: 8px;
  width: 50%;
  height: 8%;
}
#cancel{
  position: absolute;
  left: 51%;
  right: 10%;
  top: 88%;
  bottom: 5%;
}

#register{
  position: absolute;
  left: 25%;
  right: 37%;
  top: 87%;
  bottom: 5%;
}
